bin
Bin
BIN
obj
Obj
OBJ
debug
Debug
DEBUG
release
Release
RELEASE
packages/
Help
Doc

*.dll
*.res
*.il
*.orig
*.ncb
*.obj
*.suo
*.user
*.swp
*.log
*.*~
_Re*
\.DS_Store
*.userprefs
*.pidb
*.zip
*.dotCover
*.nupkg
*.nuspec
test-results
test-results/
TestResults/

*.ncrunchproject
*.ncrunchsolution
_NCrunch_*
TestResult.xml
*.VisualState.xml
*.out
*.err
*.DotSettings
*.dcvr.settings
StyleCop.Cache

# Un-comment when common assembly is generated
# GlobalAssemblyInfo.cs
# CommonAssemblyInfo.cs
